body {
    top: 0 !important;
    margin: 0;
    min-width: 960px;
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 32px;
    color: #d8813d;
    background-color: #101517;
    background-image: url("img/bg-1.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 1920px 1118px;

}

.skiptranslate {
    display: none;
    height: 0;
}


.container {
    max-width: 928px;
    margin: 0 auto;
    padding: 0 16px;
}

.page-header {
    margin: 0 0 190px;
    padding: 32px 0 32px;
}

.page-header .container,
.page-footer .container {
    max-width: 1408px;
    text-align: right;
}

.page-header a {
    margin-left: 15px;
    color: #d67e39;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: left;
}

.header-button {
    margin-right: 10px;
}

.header-email {
    padding-left: 30px;
    background-image: url("img/icon-email-dark.svg");
}

.header-phone {
    padding-left: 25px;
    background-image: url("img/icon-phone-dark.svg");
}

.page-header .header-button {
    font-size: 12px;
    padding: 0 10px;
    display: inline-block;
    vertical-align: baseline;
    text-transform: uppercase;
    border-radius: 4px;
    background-color: #d7782c;
    color: #030303;
}

.language {
    display: inline-block;
    vertical-align: bottom;
    cursor: pointer;
    width: 34px;
    height: 34px;
}

.hero-image {
    margin-bottom: 620px;
}

.hero-image .container {
    color: #211f1f;
    max-width: 1408px;
    text-align: center;
}

.heading {
    margin: 0 0 24px;
    font-size: 80px;
    line-height: 96px;
}

.hero-image p {
    margin: 0;
    font-size: 32px;
    line-height: 48px;
}

.intro {
    margin: 0 0 120px;
}

.subheading {
    margin: 0 0 56px;
    font-size: 56px;
    line-height: 80px;
    text-align: center;
}

.user-image {
    margin: 0 0 32px;
    text-align: center;
}

.intro h3,
.portfolio h3 {
    margin: 0 0 12px;
    font-size: 28px;
    line-height: 40px;
    font-weight: 500;
}

.intro p {
    margin: 0 0 32px;
}

ol > li {
    padding-bottom: 15px;
}

.skills-list {
    margin: 0;
    padding: 0;
}

.skills-list dt {
    padding-left: 40px;
    background-repeat: no-repeat;
    background-position: left;
}

.skill-html {
    background-image: url("./img/icon-html.svg");
}

.skill-css {
    background-image: url("./img/icon-css.svg");
}

.skill-js {
    background-image: url("./img/icon-js.svg");
}

.skill-php {
    background-image: url("./img/icon-php.svg");
}

.skill-git {
    background-image: url("./img/icon-git.svg");
}

.level {
    margin: 4px 0 16px;
    padding: 0;
    height: 14px;
    font-size: 0;
    background-color: #080208;
    border: 1px solid #fc7e00;
    border-radius: 8px;
}

.level div {
    margin: 1px;
    height: 12px;
    background-color: #fabb98;
    border-radius: 6px;
    opacity: 0.7;
}

.portfolio {
    margin: 0 0 120px;
}

.projects {
    margin: 0;
    padding: 0;
    list-style: none;
}

.projects li {
    margin: 0 0 80px;
}

.project-image {
    margin: 0 0 1px;
    text-align: center;
}

a.layout, a.button {
    margin: 0;
}

.intro img, .portfolio img {
    border: 4px solid #222222;
    width: 100%;
    height: auto;
    border-radius: 3px;
}

.projects p {
    margin: 0 0 24px;
}

.button {
    padding: 6px 20px;
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    background-color: #d7782c;
    color: #030303;
}

.page-footer {
    padding: 40px 0;
    background-color: inherit;
}

a {
    margin-left: 56px;
    color: inherit;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: left;
}

a.link {
    margin: 0
}

.footer-email {
    padding-left: 30px;
    background-image: url("img/icon-email-dark.svg");
}

.footer-phone {
    padding-left: 25px;
    background-image: url("img/icon-phone-dark.svg");
}